* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
    
}
header {
    background-image: url(/Ukraine/img/Rectangle104.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.8;
    border-bottom: 3px solid #FFF;
    
}
.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 0;
}
.logo1 {
    padding-left: 204px;
}
.switch {
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    height: 20px;
    width: 36px;
    margin: 0 10px;
    cursor: pointer;
}
.round {
    display: inline-block;
    background-color: #FFF;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 2px;
}
nav a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
nav a:first-child {
    color: #94cfff;
    font-weight: 600;
}
nav a:not(:first-child) {
    color: #FFF;
    font-weight: 300;
}
nav a:not(:last-child) {
    margin-right: 38px;
}
.switched {
    color: #26c6ea;
    text-align: justify;
    font-size: 20px;
    border-radius: 35px 0px;
    border: 2px solid #26c6ea;
    background: #0B0E66;
    width: 141px;
    height: 41.694px;
    text-align: center;
}
.switcher {
    display: flex;
    text-decoration: none;
    justify-content: end;
}
.switcher > a {
    color: #FFF;
    text-align: center;
    font-family: Hammersmith One;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.join {
    display: flex;
    background-image: url(/ukraine/img/Group481.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 646px;
    justify-content: space-around;
    align-items: center;
}
.inst {
    display: inline-grid;
    row-gap: 23px;
    margin-left: 131px;
}
text {
    display: flex;
    align-items: center;
}
.text > button {
    color: #26c6ea;
    text-align: justify;
    font-size: 20px;
    border-radius: 35px 0px;
    border: 2px solid #26c6ea;
    background: #0B0E66;
    width: 260px;
    height: 80px;
    margin-top: 42px;
    text-align: center;
}
.text1 {
    width: 298px;
    color: #FFF;
}
.text2 {
    width: 376px;
    color: #fff;
}
.interval1 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
}
.b1 {
    color: #0A3853;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
}
.b2 {
    color: #0A3853;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
}
.b3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
}
.eagle1 {
    text-align: center;
}
.trailer {
    background-image: url(/ukraine/img/Rectangle\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btrailer {
    color: #26c6ea;
    text-align: justify;
    font-size: 20px;
    border-radius: 35px 0px;
    border: 2px solid #26c6ea;
    background: #0B0E66;
    width: 260px;
    height: 80px;
    text-align: center;
    margin: 387px 590px 332px 702px;
}
.interval2 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
}
.c1 {
    color: #141414;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.c2 {  
    color: #141414;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.c3 { 
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cards {
    background-image: url(/ukraine/img/Rectangle\ 20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pcards {
    color: #141414;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 32px;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 45px;
    font-weight: 400;
}
.card {
    display: grid;
    gap: 24px 36px;
    background: rgba(255, 255, 255, 0.70);
    align-items: center;
    justify-content: center;
    margin-right: 37px;
    margin-bottom: 24px;
}
/* .card2 {
    display: grid;
    column-gap: 36px;
    row-gap: 24px;
    background: rgba(255, 255, 255, 0.70);
    align-items: center;
    justify-content: center;
}
.card3 {
    display: grid;
    column-gap: 36px;
    row-gap: 24px;
    background: rgba(255, 255, 255, 0.70);
    align-items: center;
    justify-content: center;
}
.card4 {
    display: grid;
    column-gap: 36px;
    row-gap: 24px;
    background: rgba(255, 255, 255, 0.70);
    align-items: center;
    justify-content: center;
}
.card5 {
    display: grid;
    column-gap: 36px;
    row-gap: 24px;
    background: rgba(255, 255, 255, 0.70);
    align-items: center;
    justify-content: center;
}
.card6 {
    column-gap: 36px;
    row-gap: 24px;
    display: grid;
    background: rgba(255, 255, 255, 0.70);
    align-items: center;
    justify-content: center;
} */
.p1card {
    color: #141414;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}
.imgcard {
    width: 152px;
    height: 40px;
}
.p2card {
    color: #000;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}
.blockcard {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px 240px 240px;
    justify-content: center;
}
.interval3 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
}
.a1 {
    color: #141414;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.a2 {
    color: #141414;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.a3 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer {
    display: flex;
    background-image: url(/ukraine/img/footer.jpg);
    background-repeat: no-repeat;
    height: 223px;
    opacity: 0.8;
    background-size: cover;
}
.m {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.end {
    color: #FFf;
    text-align: justify;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 37px;
    margin-bottom: 46px;
    margin-left: 223px
}
.line {
    border-right: 2px solid #FFF;
    margin: 35px 80px;
}
.log {
    width: 183px;
    height: 70px;
    margin-top: 77px;
    margin-bottom: 76px;
    margin-left: 204px;
}
.block1 {
    display: flex;
    margin-left: 80px;
    margin-top: 80px;
    align-items: center;
}
.block2 {
    display: flex;
    margin-left: 80px;
    margin-top: 16px;
    align-items: center;
}
.vector8 {
    margin: 0 20px;
    width: 269px;
    height: 2px;
}
.vector9 {
    margin: 0 20px;
    width: 194px;
    height: 2px;
}